.text-input{
    -fx-text-fill: #fafafa;
    -fx-background-color: #081e30;
    -fx-border-color: #fafafa;
    -fx-border-radius: 10;
    -fx-padding: 10 20;
}

.text-input:focused{
    -fx-border-color: red;
}

.hyperlink:hover {
    -fx-text-fill: red;
}

.sign:hover {
    -fx-text-fill: #334654;
}

.button{
    -fx-background-color: #e06249;
    -fx-border-radius: 10;
    -fx-padding: 10 20;
}

.button:hover{
    -fx-translate-y: -5;
}

.button:pressed{
    -fx-background-color: #b04ba0;

}

